Repository sushant-kum/eslint-config-ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, pretty-quick --staged --verbose

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{css,html,js,json,md,scss,ts}": "pretty-quick --staged --verbose"
}

chore: made husky scripts executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: added recommended eslint configs
  .github/workflows/creation-release.yml
  .github/workflows/creation-tag.yml
  .github/workflows/cron.yml
  .github/workflows/pull_request-master.yml
  .github/workflows/push.yml
  .lintstagedrc.json
  package-lock.json
  package.json
  recommended/angular-template-config.js
  recommended/angular-typescript-config.js
  recommended/cypress-config.js
  recommended/karma-jasmine-config.js
  recommended/typescript-config.js
Due: eslint --fix, pretty-quick --staged --verbose

ci(creation-release): fixed pipeline
  .github/workflows/creation-release.yml
Due: none

chore: misc changes
  .github/workflows/creation-tag.yml
  .github/workflows/pull_request-master.yml
  .github/workflows/push.yml
  .lintstagedrc.json
  package.json
Due: pretty-quick --staged --verbose

chore: added esling config
  .eslintrc.json
  .prettierrc.json
  package.json
  recommended/angular-template-config.js
  recommended/angular-typescript-config.js
  recommended/typescript-config.js
Due: eslint --fix, pretty-quick --staged --verbose

chore: added eslint-plugin-prettier to devDependencies
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

chore: added eslint-config-prettier to devDependencies
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

chore: made eol=lf
  .gitattributes
Due: none

chore: added recommended extensions
  .vscode/extensions.json
  package-lock.json
Due: pretty-quick --staged --verbose

0.1.0
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

chore: generate changelog on npm version
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

chore: run creation-tag pipeline for all tags
  .github/workflows/creation-tag.yml
Due: none

0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

ci(creation-tag): using softprops/action-gh-release instead of actions/create-release
  .github/workflows/creation-tag.yml
Due: none

0.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

0.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

ci(creation-release): added npm install script
  .github/workflows/creation-release.yml
Due: none

0.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

ci(creation-release): added registry-url: https://registry.npmjs.org/ to actions/setup-node
  .github/workflows/creation-release.yml
Due: none

0.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

ci(creation-release): modified npm publish scrpt
  .github/workflows/creation-release.yml
  package.json
Due: pretty-quick --staged --verbose

0.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

ci: modified creation-release.yml
  .github/workflows/creation-release.yml
Due: none

0.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

chore: updated dependencies
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

0.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

feat: renamed project to eslint-config-ngx
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

fix(angular-template-config): fixed issues with @angular-eslint/template/accessibility rules/config
  recommended/angular-template-config.js
Due: eslint --fix, pretty-quick --staged --verbose

1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

feat(typescript.js): modified no-console rule
  recommended/typescript-config.js
Due: eslint --fix, pretty-quick --staged --verbose

1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

feat: upgraded to @angular-eslint/... @16.2.x
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose
